@charset "utf-8";
/* CSS Document */

/*清除浏览器默认样式*/
body,div,ul,li,p,dl,dd,dt,ol,p{margin:0;padding:0;}
*{margin:0;padding:0;font-size:12px;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal; margin:0; padding:0}
a{text-decoration:none;color:#666;}
a img{border:0;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
img{vertical-align:top;}
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}

/*logo*/
header{
	width:100%;
	height:60px;
	position:fixed;
	left:0;
	top:0;
	z-index:2;
}
.header-back{
	width:100%;
	height:60px;
	background:#CCC;
	opacity:0.3;
	filter:alpha(opacity=30);
	float:left;
}
.header-logo{
	width:200px;
	height:60px;
	position:absolute;
	left:20px;
	top:0;
}
.header-logo-img{
	width:60px;
	height:60px;
	float:left;
}
.header-logo-img img{
	width:60px;
	height:60px;
	border-radius:50%;
	background-size:contain;
}
.header-intro{
	width:80px;
	margin-left:20px;
	color:#000;
	float:left;
}
.header-intro p{
	line-height:29px;
	text-align:center;
}
.header-intro hr{
	background-color:#000;
	height:1px;
	border:none;
}
.subnav{
	width:320px;
	height:60px;
	margin-right:20px;
	line-height:60px;
	position:absolute;
	right:20px;
	top:0;
}
.subnav ul li{
	float:left;
	padding:0 15px;
}
/*按钮*/
.button{
	width:20px;
	height:110px;
	position:fixed;
	right:20px;
	top:50%;
	margin-top:-55px;
	
}
.button ul li{
	width:10px;
	height:10px;
	background:#0F0;
	border-radius:50%;
	margin:10px;
}
.button ul li.on{
	background:#F0F;
}

/*第一屏
html,body{
	overflow:hidden;
}*/

section{
	width:100%;
	height:100%;
}
.first{
	width:100%;
	height:672px;
	background:url(../img/bjt.jpg) no-repeat;
	background-size:cover;
	position:relative;
}
.one .portrait{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-75px;
	margin-top:-150px;
}
.one .portrait img{
	width:150px;
	height:150px;
	border-radius:50%;
}
.one .duce{
	width:800px;
	height:400px;
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-400px;
	margin-top:30px;
}
.one .duce h3{
	border-bottom:2px solid #CCC;
	line-height:60px;
	font-size:18px;
	color:#000;
	font-weight:bold;
}
.one .duce .duce-brief{
	width:200px;
	margin:auto;
}
.one .duce .duce-brief p:nth-child(1){
	margin-top:20px;
}
.one .duce .duce-brief p{
	line-height:35px;
	color:#000;
	font-size:14px;
	font-family: "微软雅黑";
}


/*第二屏*/
.two{
	text-align:center;
	padding-top:120px;
}
.two h2{
	font-size:22px;
	font-family:"微软雅黑";
	letter-spacing:5px;
	margin-bottom:10px;
}
.two-me{
	width:200px;
	height:50px;
	border-top:2px solid #00F;
	margin:auto;
}
.two-me h3{
	line-height:30px;
	color:#F00;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
}
.two-information{
	width:800px;
	height:200px;
	background:#0FF;
	margin:auto;
	border-radius:30px;
}
.two-information ul{
	width:750px;
	margin:auto;
}
.two-information ul li{
	width:150px;
	height:180px;
	float:left;
	padding-top:20px;	
}
.two-information ul li .degree{
	width:90px;
	height:90px;
	border:4px solid #fff;
	border-radius:50%;
	margin:auto;
	background-size:contain;
	box-sizing:border-box;
}
.two-information ul li img{
	width:50px;
	height:50px;
	background-size:contain;
	margin:20px auto 0;
}
.two-information ul li .junior{
	width:90px;
	height:90px;
	margin:auto;
	padding-top:20px;
}
.two-information ul li .junior span{
	display:block;
	width:80px;
	height:2px;
	background:#999;
	transform:rotate(-30deg);
}
.two-information ul li .junior .p1{
	text-align:left;
	font-size:15px;
	margin-left:5px;
}
.two-information ul li .junior .p2{
	text-align:right;
	margin-top:10px;
	font-size:15px;
	margin-right:32px;
}

.two-text{
	background:url(../img/wenb.png) no-repeat;
	width:720px;
	height:120px;
	background-size:contain;
	margin:auto;
	margin-top:35px;
	padding:40px;
}
.two-text p{
	line-height:30px;
}


/*第三屏*/
.three{
	text-align:center;
	padding-top:120px;
}
.three h2{
	font-size:22px;
	font-family:"微软雅黑";
	letter-spacing:5px;
	margin-bottom:10px;
}
.three-me{
	width:200px;
	height:50px;
	border-top:2px solid #00F;
	margin:auto;
}
.three-me h3{
	line-height:30px;
	color:#F00;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
}
.three-p{
	width:800px;
	height:60px;
	margin:auto;
	line-height:60px;
}
.three-skill{
	width:900px;
	height:400px;
	margin:auto;
}
.three-skill ul li{
	float:left;
	width:225px;
	position:relative;
}
.three-skill ul li .three-skill-img1{
	width:100px;
	height:130px;
	padding-top:30px;
	margin:auto;
}
.three-skill ul li .three-skill-img1 img{
	width:100px;
	height:100px;
	background-size:cover;
}
.three-skill ul li .three-skill-name{
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑";
}

.three-skill ul li .three-skill-img2{
	width:20px;
	height:20px;
	margin:auto;
	margin-top:15px;
	background:url(../img/sanjiao.png) no-repeat;
	background-size:contain;
	-moz-transform:rotate(180deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.three-skill ul li .three-skill-into{
	width:300px;
	background:#CCC;
	border-radius:20px;
	position:absolute;
	left:50%;
	top:240px;
	margin-left:-180px;
	padding:20px 20px 20px 30px;
	
}
.three-skill ul li .three-skill-into ul li{
	line-height:20px;
	list-style-type:disc;
	text-align:left;
}

/*第四屏*/
.four{
	text-align:center;
	padding-top:120px;
}
.four h2{
	font-size:22px;
	font-family:"微软雅黑";
	letter-spacing:5px;
	margin-bottom:10px;
}
.four-me{
	width:200px;
	height:50px;
	border-top:2px solid #00F;
	margin:auto;
}
.four-me h3{
	line-height:30px;
	color:#F00;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
}
.four-work{
	width:800px;
	height:400px;
	margin:auto;
}
.four-work ul li{
	width:160px;
	height:160px;
	margin:25px 0 0px 30px;;
	float:left;
	border:1px solid #CCC;
	box-sizing:border-box;
}
.four-work ul li img{
	width:160px;
	height:160px;
	background-size:contain;
}
/*第五屏*/
.five{
	text-align:center;
	padding-top:120px;
}
.five h2{
	font-size:22px;
	font-family:"微软雅黑";
	letter-spacing:5px;
	margin-bottom:10px;
}
.five-me{
	width:200px;
	height:50px;
	border-top:2px solid #00F;
	margin:auto;
}
.five-me h3{
	line-height:30px;
	color:#F00;
	font-size:13px;
	font-weight:bold;
	letter-spacing:1px;
}
.five .lgdm p{
	font-size:20px;
	font-family:"宋体";
	color:#F00;
}
.five .lgdm p span{
	font-size:20px;
	font-family:"宋体";
	color:#00F;
}
.five .base{
	width:100%;
	height:60px;
	border-top:1px solid #999;
	line-height:20px;
	position:absolute;
	left:50%;
	bottom:10px;
	margin-left:-50%;
	text-align:center;
	padding-top:10px;
}
.five .base p a:hover{
	color:#F00;
}




/*分页器*/
#pagination {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 1px 2px 4px 2px;
    border-top: 1px solid #AEAEAE;
    border-bottom: 1px solid #FFFFFF;
    background-color: #DADADA;
    background-image: -webkit-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:    -moz-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:     -ms-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:      -o-linear-gradient(top, #DBDBDB, #E2E2E2);
    background-image:         linear-gradient(top, #DBDBDB, #E2E2E2);
}
#pagination a, #pagination i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    color: #7D7D7D;
    text-align: center;
    font-size: 10px;
    padding: 3px 0 2px 0;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
         -o-user-select:none;
            user-select:none;
}

#pagination a {
    margin: 0 2px 0 2px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:    -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:     -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:      -o-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image:         linear-gradient(top, #F3F3F3, #D7D7D7);
}
#pagination i {
    margin: 0 3px 0 3px;
}
#pagination a.current {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 1px #999;
    background-color: #DFDFDF;
    background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:    -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:     -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:      -o-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image:         linear-gradient(top, #D0D0D0, #EBEBEB);
}